@media (min-width: 839px){
    .head.miniBackground {
        min-height: 300px;
    }
}

@media (max-width: 540px){
    .card-list-image {
        height: 210px !important;
    }
}

@media (min-width: 1200px){
    .container-xxl {
        max-width: 1300px;
    }

}

.head {
    background-image: url(https://terrigen-cdn-dev.marvel.com/content/prod/1x/characters_art_mas_dsk_01.jpg);
}

.zoom {
    transition: transform .2s;
}

.zoom > .card {
    transition: box-shadow .2s;
}

.zoom:hover > .card {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.zoom:hover {
    transform: scale(1.05);    
    z-index: 1;
    cursor: pointer;
}

.autocomplete {
    height: calc(1.62em + 0.74rem + 2px);
    border: 1px solid #ced4da !important;
    border-radius: .25rem;
}

.autocomplete:hover {
    border-color:  #8895a2 !important;    
}

.multiselect {
    border: 1px solid #ced4da !important;
    border-radius: .25rem;
}

.multiselect:hover {
    border-color:  #8895a2 !important;    
}

.p-multiselect > div.p-multiselect-label-container {
    height: calc(1.5em + .84rem + 2px);
}

.form-control:hover {
    border-color:  #8895a2 !important;    
}



 
